.advertButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.advertAll {
  width: 180px;
}

.advertContact {
  width: 180px;
}

.locationBox {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  padding: 10px;
}

.headingColor {
  color: var(--primary);
}

.heartIcon {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001a;
  opacity: 1;
  height: 39px;
  width: 35px;
  padding: 10px 8px;
  border-radius: 50%;
}

.price {
  color: var(--dark);
  font-size: 40px;
}

.sellar {
  color: var(--dark);
  font-size: 20px;
}

.title {
  color: var(--light);
  font-size: 20px;
}

.address {
  color: var(--light);
  font-size: 14px;
}

.detailHeading {
  color: var(--primary);
  font-size: 24px;
}

.brandHeading {
  color: var(--light);
  font-size: 18px;
}

.brandContent {
  color: var(--dark);
  font-size: 18px;
  word-break: break-word;
}

.sliderContainer {
  width: 100%;
  height: auto;
  /* background-color: var(--dark); */
}

.sliderPaginationContainer {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  margin: 15px 0px;
  padding: 0px 0px;
}

.allCatagoryBtn {
  outline: none;
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--secondary);
  background-color: var(--primary);
  padding: 10px 16px;
  color: #fff;
  width: 180px;
}

.allCatagoryBtnOutlined {
  outline: auto;
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--secondary);
  padding: 10px 16px;
  color: var(--dark);
  width: 180px;
  background: transparent;
}

@media (max-width: 1366px) {
  .allCatagoryBtnOutlined,
  .allCatagoryBtn {
    width: 162px;
  }
}

@media (min-width: 992px) {
  .backCatag {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .ChldcatagoryBox {
    position: absolute;
    top: 0;
    background-color: #fff;
    width: 93%;
    height: 100%;
    transform: translateX(-120%);
    transition: 0.4s;
    overflow: auto;
  }
  .ChldcatagoryBox.active {
    transform: translateX(0);
  }
}

@media (max-width: 426px) {
  .allCatagoryBtnOutlined,
  .allCatagoryBtn {
    width: 135px;
  }
}

.paginationImage {
  height: 100px;
  width: 100px;
  margin: 0px 0px;
  padding: 0px 0px;
  border-radius: 10px;
}

.collapsible {
  background-color: var(--light);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--light);
}

.textInput {
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--light);
  background: #fff;
  padding: 8px 12px;
}

.textInputPlace {
  position: relative;
  border: 1px solid var(--light);
  border-radius: 4px;
  width: 100%;
  background: #fff;
  padding: 8px 12px;
  /* position: absolute; */
  padding-right: 32px;
  height: 55px !important;
}

.locationIcon {
  position: absolute;
  right: 25px;
  top: 36px;
}

.rangeInput {
  border-radius: 4px;
  border: 1px solid var(--light);
  background: #fff;
  padding: 8px 12px;
  width: 100%;
}

.minRange {
  float: left;
  background-color: var(--price);
  border-radius: 2px;
  padding: 5px 10px;
}

.maxRange {
  float: right;
  background-color: var(--price);
  border-radius: 2px;
  padding: 5px 10px;
}

.dropDown {
  border-radius: 4px;
  border: 1px solid var(--dropDownBorder);
  background: #fff;
  padding: 8px 10px;
  width: 200px;
}

.labels {
  font-weight: bold;
}

.nextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: 99999;
}

.categoryHeader {
  background-color: var(--primaryBlue);
  border-radius: 4px 4px 0px 0px;
  color: #fff;
  padding: 10px 15px;
}

.prevArrow {
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: 99999;
  transform: translateY(-50%) rotate(180deg);
}

.createTitle {
  font-size: 32px;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 34px;
}

.createAdMain {
  padding: 40px 0;
}

.createLink {
  color: #616161;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 8px;
  text-decoration: none;
  margin-right: 70px;
}

.createLink:hover,
.createLink.active {
  color: var(--dark);
  border-bottom: 3px solid #616161;
}

.createNav {
  padding-bottom: 13px;
  border-bottom: 3px solid hsla(0, 0%, 77%, 0.5);
}

.section_title {
  font-size: 24px;
  color: var(--primary);
  font-weight: 600;
  margin: 40px 0 32px;
}

.catagoryBox {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 30px;
}

.catagLink {
  color: var(--light);
  font-size: 19px;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid hsla(0, 0%, 44%, 0.5);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.catagLink:last-child {
  border-bottom: none;
}

.catagLink:hover,
.catagLink.active {
  color: var(--primary);
}

.catagLinkActive {
  font-size: 19px;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid hsla(0, 0%, 44%, 0.5);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  color: var(--primary);
}

.adDetail input,
.adDetail textarea,
.adDetail select {
  background-color: #f8fbff !important;
  border: 1px solid #c4c4c4;
  box-shadow: none !important;
}

.formLabel {
  font-size: 16px;
  color: #000000;
  margin-bottom: 8px;
  font-weight: 600;
}

.formText {
  font-size: 12px;
  color: #616161;
  display: block;
  margin-bottom: 8px;
}

.addDes {
  height: 200px;
}

.btns a {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speciField label {
  font-size: 14px;
  font-weight: 500;
}

.uploadImageBox {
  width: 100%;
  height: 130px;
  background-color: #ebf3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsla(0, 0%, 38%, 0.3);
  border-radius: 4px;
  cursor: pointer;
}

.browseLink {
  color: var(--primary);
  text-decoration: none;
}

.successNote {
  margin-top: 40px;
  padding: 30px;
  background-color: #ebf3ff;
  border-radius: 16px;
}

.successText h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 10px;
}

.successText p {
  color: var(--light);
  width: 950px;
  max-width: 100%;
  margin-bottom: 0;
}

.promoMain {
  margin-top: 40px;
  padding: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.baseTitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
}

.promoList p {
  width: 670px;
  max-width: 100%;
}

.promoList h5 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 15px;
}

.priceLabel {
  display: block;
  width: 100%;
  min-height: 100px;
  border: 1px solid #ebf3ff;
  padding: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.priceLabel.active {
  border: 1px solid #18d9c5;
  background-color: #ebf3ff;
}

.priceLabel h3 {
  font-size: 16px;
  color: var(--dark);
  font-weight: 600;
  margin-bottom: 10px;
}

.priceLabel p {
  font-size: 14px;
  color: var(--light);
  margin-bottom: 0;
}

.priceRate {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

.pricingForm input:checked .priceLabel {
  background-color: #ebf3ff;
}

.pricingForm input {
  display: none;
}

.borderB {
  padding-bottom: 30px;
  border-bottom: 2px solid hsla(0, 0%, 44%, 0.1);
}

@media (max-width: 426px) {
  .labels {
    width: 85px;
  }

  .labels {
    margin: 12px 0;
  }

  .brandContent {
    font-size: 12px;
  }

  .brandHeading {
    font-size: 14px !important;
    margin-bottom: 8px;
  }

  .detailHeading {
    font-size: 18px;
  }

  .paginationImage {
    max-width: 86%;
  }

  .allCatagoryBtn {
    width: 155px;
  }

  .createLink {
    font-size: 12px;
    font-weight: bold;
    padding: 16px 8px;
    margin-right: 22px;
  }

  .createTitle {
    font-size: 20px;
    margin-bottom: 22px;
  }

  /* .successNote svg {
    display: none;
  } */
  .successText h3 {
    margin: 8px 0;
  }

  .promoMain {
    padding: 25px;
  }

  .baseTitle {
    margin: 12px 0;
  }

  .priceLabel {
    height: auto;
    flex-direction: column;
  }

  .priceRate {
    margin-top: 8px;
  }
}

.buttonColor {
  color: #000000;
}

.firstImage {
  position: relative;
}

.firstImage:hover,
.hoverImage {
  position: relative;
  content: test !important;
}

.hoverImage {
  position: absolute;
  display: none;
}

.suggestionWrapper {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  list-style: none;
  margin: 0 auto;
  display: block;
  padding: 4px;
  position: absolute;
  background-color: #fff;
  z-index: 999999;
}

.suggestionWrapper > li {
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #fff;
  margin: 4px 0;
  font-size: 13px;
  cursor: pointer;
}

.advertInput {
  border: 1px solid var(--light);
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  padding: 10px 0px 10px 7px;
  width: 180px;
  height: 46px;
}

.filterBox {
  background-color: #ebf3ff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* justify-content: center; */
}

.filterMain {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* padding: 30px; */
}

.filterBox svg {
  margin-right: 8px;
}

.filterBack span {
  color: var(--primary);
  font-weight: bold;
  margin-left: 8px;
}

.filterHeader {
  background-color: #fff;
  padding: 30px;
}

.headerBack {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
}

.filterbox {
  padding: 15px 30px 0;
  background-color: #f9f9f9;
}

.filterboxInner {
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 38%, 0.2);
}

.filterbox h2 {
  font-weight: 600;
  font-size: 16px;
  color: var(--dark);
}

.filterbox p {
  font-size: 14px;
  color: #616161;
}

.filterTag {
  background-color: var(--primary);
  padding: 4px;
  border-radius: 6px;
  color: #fff;
  margin-right: 4px;
  margin-bottom: 4px;
}
.filterTag i {
  margin-left: 8px;
  margin-right: 4px;
}

.filterTags {
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 38%, 0.2);
}
.applyBtn {
  padding: 0 30px;
}

.bgGray {
  background-color: #ebf3ff !important;
  color: #000;
}
.bgGray.active {
  background-color: var(--primary) !important;
  color: #fff;
}
.filterInner {
  max-height: 550px;
  overflow: auto;
}

.Filtercatagories {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 00px 35px;
  overflow: auto;
  transform: translateX(-120%);
  transition: 0.4s;
}

.Filtercatagories.active {
  transform: translateX(0);
}

.Filtercatagories a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  margin-top: 15px;
  color: #000;
}

@media (max-width: 991px) {
  .onlyDesktop {
    display: none;
  }
}

@media (min-width: 991px) {
  .onlymobile {
    display: none;
  }
}

