.fc .fc-daygrid-day {
  background-color: #f8f9fa;
}

.fc-event {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.fc-event .fc-event-title {
  font-size: 14px;
  font-weight: bold;
}

.fc-timegrid-slot-label {
  background-color: #e9ecef;
  font-weight: bold;
}

.fc-timegrid-event {
  border: 1px solid #dee2e6;
}

.fc .fc-toolbar-title {
  font-size: 20px;
  font-weight: bold;
}

.fc-timegrid-slot-label,
.fc-daygrid-all-day .fc-cell-text {
  font-family: "Inter", sans-serif;
  font-size: 16px !important;
  font-weight: 500;
  color: #787878;
  background-color: #fff;
}

.fc-toolbar {
  display: flex;
  justify-content: space-between;
}

.fc-toolbar .fc-left {
  margin-right: auto;
}

.fc-toolbar .fc-center {
  margin: 0 auto;
}

.fc-toolbar .fc-right {
  margin-left: auto;
}

.fc .fc-prev-button,
.fc .fc-next-button {
  background-color: transparent !important;
  border: 2px solid #888 !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  outline: none !important;
  cursor: pointer !important;
  padding: 0 !important;
  box-sizing: content-box !important;
}

.fc .fc-prev-button {
  margin-right: 20px;
}

.fc .fc-prev-button:hover,
.fc .fc-next-button:hover {
  background-color: #f0f0f0 !important;
}

.fc .fc-prev-button:focus,
.fc .fc-next-button:focus {
  outline: none !important;
}

.fc .fc-prev-button .fc-icon,
.fc .fc-next-button .fc-icon {
  color: #888 !important;
  font-size: 14px !important;
}

.fc .fc-prev-button .fc-icon:before,
.fc .fc-next-button .fc-icon:before {
  font-weight: bold !important;
}

.fc-toolbar-chunk {
  visibility: hidden;
}

#fc-dom-22 {
  visibility: hidden;
}

.fc-timegrid-event,
.fc-event {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  max-width: 100% !important;
}

.fc .fc-timegrid-axis-cushion {
  max-width: 100px !important;
  padding: 0 10px;
  font-size: 16px !important;
}

.fc-timegrid-slot.fc-timegrid-slot-lane[data-time*="30:00"] {
  border-top: none !important;
}

.fc .fc-timegrid-divider {
  padding: 0 !important;
}

.fc-popover {
  z-index: 10 !important;
  min-width: 400px !important;
  max-height: 300px !important;
  overflow-y: scroll !important;
  overflow-x: hidden;
  left: 50% !important;
  top: 5% !important;
  transform: translateX(-50%) !important;
  scrollbar-width: none;
}

.fc-popover::-webkit-scrollbar {
  display: none;
}

.fc-more-popover {
  /* overflow: hidden !important; */
  max-height: none !important;
}

.fc-scrollgrid-sync-inner {
  color: #787878 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.fc-col-header-cell-cushion {
  color: #2e2e2e !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin: 10px 0;
}

.fc-event-main {
  height: max-content;
}

.fc {
  background-color: white;
}

.fc .fc-day-today {
  background-color: white !important;
}

@media (min-width: 768px) {
  .timeGridDay-flex {
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    align-items: flex-start !important;
    gap: 10px !important;
  }

  .fc-daygrid-day-events {
    display: block;
  }

  .ck-dropdown__panel {
    right: 0 !important;
    left: auto !important;
  }
}

@media (max-width: 767px) {
  .timeGridDay-flex {
    display: block !important;
    align-items: initial !important;
    flex-wrap: initial !important;
    gap: initial !important;
  }

  .fc-timeGridWeek-view .fc-daygrid-day-events {
    display: none !important;
  }

  .fc .fc-timegrid-axis-cushion {
    max-width: 80px !important;
    padding: 0 10px !important;
    font-size: 12px !important;
  }

  .fc .fc-timeGridWeek-view .fc-timegrid-axis-cushion {
    display: none !important;
  }

  .ck .ck-toolbar__separator,
  .ck-heading-dropdown {
    display: none !important;
  }

  .fc .fc-daygrid-more-link {
    font-size: 8px !important;
  }
}

@media (max-width: 620px) {
  .fc-popover {
    min-width: 90% !important;
  }
}
