@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --G3: linear-gradient(90deg, #ff3671 0.03%, #fe9841 100.05%);
  }
}

body {
  color: #1e1e1e;
  background: white;
}
.pricing-gradient{
  background: linear-gradient(to right, #B503FE, #FF376F);
}
.filter-shadow {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.07));
}

.tests svg path{
  fill: #4A13E7 !important;
}


.test svg path{
  fill: red;
}