@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --G3: linear-gradient(90deg, #ff3671 0.03%, #fe9841 100.05%);
  }
}

body {
  color: #1e1e1e;
  background: #f3f3f3;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Graphik",
    Arial, sans-serif;
}

.pricing-gradient {
  background: linear-gradient(to right, #b503fe, #ff376f);
}
.filter-shadow {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.07));
}
.sidebar-svg svg path {
  fill: white !important;
}
.tests svg path {
  fill: #4a13e7 !important;
}

.test svg path {
  fill: #8f8f8f;
}
.menu:hover .menuItems {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.menuItems {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

#dropdownSerchBar::-webkit-scrollbar {
  width: 2px;
}

.sidebar-height {
  max-height: 800px;
}
.hoverTransetion {
  transition: all 0.3s ease-in-out;
}

.hoverTransetion:hover {
  transition: all 0.3s ease-in-out;
}

/* ==================== */
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 180px !important;
  height: 48px !important;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  min-width: 180px !important;
  max-width: 100% !important;
  z-index: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  min-width: fit-content !important;
  max-width: 100% !important;
  z-index: 1;
  pointer-events: auto;
}

/* ===================== */

/* Thin scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  position: absolute !important;
}

/* Thin scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202); /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners for the thumb */
}

/* Thin scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* for ck editor logo disable */
.ck-powered-by-balloon {
  display: none !important;
}
.ck-toolbar {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-width: 2px !important;
  border-color: #c4c4c4 !important;
  min-height: 56px !important;
  padding-inline: 20px !important;
  padding-block: 9px !important;
}

/* .ck-editor {
  max-width: 904px !important;
} */
.ck-content:focus {
  border: 1px solid #4a13e7 !important;
}
.ck .ck-toolbar {
  border-bottom: none !important;
}
.ck-content {
  min-height: 260px !important;
  max-height: 260px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.ck-content ul,
ol {
  padding-inline: 0px !important;
  margin-inline: 16px !important;
}
.ck-content p {
  font-size: 14px !important;
  color: #272727 !important;
}
.ck-focused {
  border: 1px solid #ccced1 !important;
  box-shadow: none !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("../assets/svgs/calender.svg") no-repeat;
  position: absolute;
  right: 18px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.selectScrollBar::-webkit-scrollbar {
  width: 15px;
}
/* Custom CSS to style the scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost ::-moz-scrollbar {
  display: none;
}

.scrollhost {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}

.suggestions-list {
  border: 1px solid #bfbfbf;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.calWidth {
  max-width: calc(100% - 292px);
  width: 100%;

  @media (max-width: 1200px) {
    max-width: 100%;
    width: 100%;
  }
}

.contentCalWidth {
  max-width: calc(100% - 292px);
  width: 100%;

  @media (max-width: 1280px) {
    max-width: 100%;
    width: 100%;
  }
}

.offerCardCalWidth {
  max-width: calc(100% - 292px);
  width: 100%;

  @media (max-width: 1536px) {
    max-width: 100%;
    width: 100%;
  }
}

.dashboard_scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
.select_scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.dashboard_scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a13e7;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 6px;
}

.dashboard_scrollbar::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 6px;
}

.rdrDateRangeWrapper {
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.react-tel-input .form-control {
  border: none !important;
}

.react-tel-input .flag-dropdown {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border: none !important;
  border-right: 1px solid #c4c4c4 !important;
}

.react-tel-input .selected-flag {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

/* multi-select scroll bar */
.multiSelectScrol::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

/* .react-tel-input .flag-dropdown:hover{
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
} */

.full-calendar {
  background-color: #fff;
  padding: 20px 20px;
}

.full-calendar .fc-toolbar {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.full-calendar .fc-toolbar-chunk:nth-child(1) {
  order: 3;
}

.full-calendar .fc-toolbar-chunk:nth-child(2) {
  order: 1;
}

.full-calendar .fc-toolbar-chunk:nth-child(3) {
  order: 2;
}

@media (max-width: 1199px) {
  .full-calendar .fc-toolbar-chunk:nth-child(3) {
    margin-top: 1.5rem;
  }

  .full-calendar .fc-toolbar-chunk:nth-child(3) .fc-button-group {
    display: block;
  }

  .full-calendar .fc-toolbar-chunk:nth-child(3) .fc-button-group button {
    width: 100%;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
  }
}

.full-calendar .fc-toolbar-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.full-calendar .fc-toolbar-chunk .fc-button-primary:first-child {
  border-top-left-radius: 0.375rem;
}

.full-calendar .fc-toolbar-chunk .fc-button-primary:last-child {
  border-top-right-radius: 0.375rem;
}

.full-calendar.fc-theme-standard .fc-scrollgrid,
.full-calendar.fc-theme-standard th,
.full-calendar.fc-theme-standard td,
.full-calendar.fc-theme-standard .fc-list {
  border: 1px solid rgba(203, 213, 224, 0.6);
}

.full-calendar table {
  border-radius: 0.375rem;
}

.full-calendar tr th .fc-scrollgrid-sync-inner {
  padding: 0.75rem;
}

.full-calendar .fc-daygrid-event-harness {
  margin: 0.625rem;
}

.full-calendar .fc-h-event {
  background-color: #4a13e7;
  border: 1px solid #4a13e7;
  border-radius: 0.375rem;
}

.full-calendar .fc-event-title-container {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.full-calendar .fc-daygrid-event {
  font-size: 0.75rem;
}

.full-calendar .fc-daygrid-event-dot {
  border: 1px solid #4a13e7;
  margin-right: 0.5rem;
}

.full-calendar .fc-daygrid-dot-event .fc-event-title {
  font-weight: 500;
}

.full-calendar .fc-col-header-cell-cushion {
  font-weight: 500;
}

@media (max-width: 575px) {
  .full-calendar.fc .fc-view-harness,
  .full-calendar.fc .fc-daygrid-day-frame {
    min-height: unset !important;
  }
}

.full-calendar .fc-daygrid-more-link {
  font-size: 0.875rem;
}

@media (max-width: 767px) {
  .full-calendar .fc-daygrid-more-link {
    font-size: 0.625rem;
  }
}

@media (max-width: 575px) {
  .full-calendar .fc-daygrid-more-link {
    padding-left: 0;
    display: block;
    margin-top: -0.375rem;
    line-height: 0.625rem;
  }
}

.full-calendar .fc-daygrid-day-bottom {
  padding-top: 0.25rem;
}

.full-calendar .fc-day-other {
  background-color: rgba(203, 213, 224, 0.5);
}

.full-calendar .fc-button-primary {
  font-weight: normal;
  display: inline-block;
  border: 1px solid rgba(203, 213, 224, 0.6);
  color: #66788a;
  background-color: transparent;
  text-transform: capitalize;
  padding: 10px 12px;
}
.full-calendar .fc-button-primary:hover {
  background-color: transparent;
  color: #66788a;
  border: 1px solid rgba(203, 213, 224, 0.6);
}

.full-calendar .fc-button-primary .fc-icon {
  font-size: 1.2em;
}

.full-calendar .fc-button-primary:focus {
  box-shadow: none;
  padding: 10px 10px;
}

.full-calendar .fc-button-primary:not(:disabled):active,
.full-calendar .fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  background-color: #4a13e7;
  border-color: #4a13e7;
  padding: 10px 10px;
}

.full-calendar .fc-list-day-cushion {
  background-color: rgba(203, 213, 224, 0.5);
  padding: 1.25rem 0.75rem;
}

.full-calendar .fc-list-event td {
  padding: 1.25rem 0.75rem;
}

.full-calendar .fc-list-event-dot {
  border: 1px solid #4a13e7;
}

.full-calendar .fc-event-time {
  padding: 0 0.5rem;
  font-size: 0.75rem;
}

.full-calendar .fc-daygrid-more-link {
  padding-left: 0.5rem;
}

/* .dark */
.dark .full-calendar .fc-button-primary {
  background-color: #2d3748;
  border-color: #2d3748;
}

.dark .full-calendar .fc-list-day-cushion {
  background-color: #2d3748;
}

.dark .full-calendar .fc-event:hover td {
  border-color: #2d3748;
  background-color: #2d3748;
}
@keyframes modalOpen {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.modal {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.modal-opening {
  animation-name: modalOpen;
}

.modal-closing {
  animation-name: modalClose;
}
@media (max-width: 1160px) {
  .scalable-div {
    transform: scale(calc(100vw / 1160));
  }
}

@media (max-width: 767px) {
  .html-content > h2 {
    color: #1c1c1c;
    /* font-size: 20px !important; */
    /* font-family: ; */
    font-weight: 700;
    margin-bottom: 8px !important;
  }

  .html-content > h3 {
    color: #1c1c1c;
    /* font-size: 20px !important; */
    /* font-family: ; */
    font-weight: 700;
    margin-bottom: 24px !important;
  }

  .html-content > h4 {
    color: #1c1c1c;
    /* font-size: 16px !important; */
    /* font-family: ; */
    font-weight: 600;
    margin-bottom: 8px !important;
  }
  .html-content > p {
    color: #505050;
    margin-bottom: 12px;
  }
  .html-content > p > a {
    text-decoration: underline !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .text-white {
      -webkit-font-smoothing: antialiased;
    }
  }
}

.html-content > h1 {
  /* font-size: 18px; */
  margin: 0px;
}
.html-content > h2 {
  /* font-size: 18px; */
  margin: 0px;
}

.html-content > h3 {
  /* font-size: 16px; */
  margin: 0px;
}

.html-content > p {
  color: #272727;
  margin: 0;
  /* font-size: 14px; */
}
.html-content > p > a {
  text-decoration: underline !important;
}
.html-content > ul {
  margin-left: 54px;
}
.html-content > ul > li {
  list-style: outside;
  /* font-size: 13px; */
}

.html-content > blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding-left: 1rem;
}

.html-content > blockquote::before {
  font-weight: bold;
}

.html-content > blockquote > p {
  margin: 0;
}

.table-scroll-bar {
  overflow-x: scroll;
}

.table-scroll-bar::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.table-scroll-bar::-webkit-scrollbar-track {
  background-color: red;
  border-radius: 6px;
}

.dropdown_select {
  -webkit-appearance: none;
  padding: 2px 5px;
  background-image: url("~@/assets/pngs/drop-down-icon.png");
  background-position: calc(100% - 8px) center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.dropdown_select.active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.select_dropdown_items {
  color: gray;
  font-weight: 500;
  cursor: pointer !important;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #bfbfbf;
  box-shadow: 0 3px 6px #00000029;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  cursor: pointer;
}

input[type="date"] {
  font-size: 12px;
}

@media (max-width: 1460px) {
  input[type="date"] {
    font-size: 14px;
  }
}

.img_loader {
  animation: puff 1s infinite;
}

@keyframes puff {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1.5);
  }
}

.follow-up-container::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 26px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #4a13e7;
}

.add-task-modal::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -15px;
  width: 20px;
  height: 20px;
  background-color: #f3f3f3;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  z-index: -10;
}

.follow_up_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  background-color: #4a13e7;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.fc-event {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  font-weight: bold;
}

.fc-event-title {
  font-size: 14px;
}

.fc-timegrid-slot-label {
  background-color: #e9ecef;
  font-weight: bold;
}

