@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --G3: linear-gradient(90deg, #ff3671 0.03%, #fe9841 100.05%);
  }
}

body {
  color: #1e1e1e;
  background: #f3f3f3;
}
.pricing-gradient {
  background: linear-gradient(to right, #b503fe, #ff376f);
}
.filter-shadow {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.07));
}
.sidebar-svg svg path {
  fill: white !important;
}
.tests svg path {
  fill: #4a13e7 !important;
}

.test svg path {
  fill: #8f8f8f;
}
.menu:hover .menuItems {
  opacity: 1;
  transform: translateY(0);
}

.menuItems {
  opacity: 0;
  transform: translateY(-100rem);
}
.sidebar-height {
  height: calc(100vh - 90px);
}
/* Thin scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  position: absolute !important;
}

/* Thin scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202); /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners for the thumb */
}

/* Thin scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.tabulator {
  border: none !important;
  border-radius: 6px !important;
  background: #f3f3f3 !important;
}
.tabulator-header {
  border: none !important;
  border-radius: 6px !important;
}

.tabulator-col {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
  border: none !important;
  background: white !important;
  /* border-radius: 6px !important; */
}
.tabulator-col-title {
  color: #8f8f8f !important;
  font-weight: 500 !important;
}
.tabulator-col-content {
  padding: 0 !important;
  /* border-radius: 6px !important; */
}
.tabulator-table {
  background: #f3f3f3 !important;
}
.tabulator-cell {
  padding-top: 19px !important;
  padding-bottom: 19px !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
  text-align: left !important;
  border: none !important;
  color: #4b4b4b !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("../assets/svgs/calender.svg") no-repeat;
  position: absolute;
  right: 18px;
  width: 16px; /* Adjust the width and height as needed */
  height: 16px;
  cursor: pointer;
}

